html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: "Microsoft JhengHei", "Heiti TC", "PingFang TC", "Noto Sans TC", "Noto Sans", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    color: #cc00ff;
    box-shadow: 0px 1px 10px  #eeaaff;
    margin: 0;
    z-index: 10;
}

.logo_div {
    padding: 20px 20px 0 20px;
}
.logo {
    width: 300px;
}

nav {
    text-align: right;
    padding: 0 20px 20px 0;
}

main {
    max-width: 1024px;
    min-height: 90%;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 50px 100px 50px;
}

h2 {
    color: #cc00ff;
    margin: 0;
    padding: 10px 0;
    border-bottom: 3px dotted #cc00ff;
}
h2::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 28px; /* 根據圖片大小調整 */
  height: 28px;
  margin-right: 6px; /* 文字與圖片的距離 */
  background-image: url("../assets/h2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
    background-color: #fff;
    color: #cc00ff;
    text-align: center;
    margin: 0;
    box-shadow: 0px -1px 10px  #eeaaff;
    padding: 20px 0;
}

.circle-button {
    position: fixed;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    color: #cc00ff;
    border: 2px solid #cc00ff;
    border-radius: 999px;
    padding: 3px 12px;
    font-size: 35px;
    cursor: pointer;
}
.circle-button:hover {background-color: rgba(255,255,255,0.5);}

.gototop {
    bottom: 35px;
    right: 45px;
    z-index: 11;
}


/* 手機版專用樣式 */
@media screen and (max-width: 768px) {
    .logo_div {
        text-align: center;
        padding: 20px 0 10px 0;
    }
    .logo {
        width: 300px;
    }
    nav {
        font-size: 12px;
        text-align: center;
        padding: 10px 0 20px 0;
    }
    main {
        padding: 10px;
    }
    footer {
        font-size: 12px;
        padding: 20px;
        text-align: left;
    }
}
