html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
    position: relative;
}

body {
    background-image: url(../assets/bg.png);
    background-attachment: fixed;
    font-family: "Microsoft JhengHei", "Heiti TC", "PingFang TC", "Noto Sans TC", "Noto Sans", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #fff;
    color: #cc00ff;
    box-shadow: 0px 2px 10px  #dd9ded;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    text-shadow: 3px 3px #eeaaff;
    margin: 0;
    padding: 0 20px;
}

.main_nav ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.main_nav li {
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
}
.main_nav li:hover {
    background-color: #cc00ff;
    color: #fff;
}

main {
    max-width: 1024px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px 50px 100px 50px;
    box-shadow: 0 0 1px #d19ad1;
}

h2 {
    color: #cc00ff;
    margin: 0;
    padding: 10px 0;
    border-bottom: 3px dotted #cc00ff;
}
h2::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 28px; /* 根據圖片大小調整 */
  height: 28px;
  margin-right: 6px; /* 文字與圖片的距離 */
  background-image: url("../assets/h2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
    background-color: #fff;
    color: #aa00d4;
    text-align: center;
    margin: 0;
    box-shadow: 0px -2px 10px  #dd9ded;
    padding: 20px 0;
}

.circle-button {
    position: fixed;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
    color: #cc00ff;
    border: 2px solid #cc00ff;
    border-radius: 999px;
    padding: 3px 12px;
    font-size: 35px;
    cursor: pointer;
}
.circle-button:hover {background-color: rgba(255,255,255,0.5);}

.gototop {
    bottom: 35px;
    right: 45px;
    z-index: 11;
}


/* 手機版專用樣式 */
@media screen and (max-width: 768px) {
    body {
        background-image: none;
    }
    .logo {font-size: 14px;}
    .main_nav li {
        font-size: 12px;
        padding: 15px 20px;
        right: 15px;
    }
    main {
        padding: 10px;
    }
    footer {
        font-size: 12px;
        padding: 20px;
        text-align: left;
    }
}
